
/*期刊列表*/

.qikan_box{ float:left; width:1060px;}
.qikan_box .qikan_tit{ width:1060px; height:68px; line-height:68px;}
.qikan_box .qikan_tit em{ height:20px; width:5px;background:#6CBBE5; float:left; margin-right:8px; display:block; position:relative; top:25px;}
.qikan_box .qikan_tit span{ float:left; font-size:20px; font-weight:600;}
.qikan_box .qikan_tit a{ float:right; font-size:14px;}
.qikan_box ul{float: left;width: 100%;}
.qikan_box ul li{ float:left; width:160px;margin-right:15px;}
.qikan_box ul li a{ float:left; display:block; width:160px; text-align:center;}
.qikan_box ul li a .qikan_img{ width:150px; border:1px solid #e2e2e2; padding:4px; float:left;}
.qikan_box ul li a .qikan_img img{ width:150px; height:202px;}
.qikan_box ul li a p{ height:26px; line-height:26px; float:left; width:160px; margin-top:6px; color:#423c4a;}
.qikan_box ul li a span{ color:#666; font-size:12px; height:26px; line-height:26px;}
.qikan_box ul li a:hover .qikan_img{ border:1px solid #cd3e44;}
.qikan_box ul li a:hover p{ color:#cd3e44;}


.qikan_box .qikan_wlist{ width:350px; float:left;}
.qikan_box .qikan_wlist .qikan_dlbox{ width:358px; float:left;}
.qikan_box .qikan_wlist dl{ width:155px; float:left; margin-left:24px;}
.qikan_box .qikan_wlist dl dd a{ width:150px; float:left; line-height:32px;white-space:nowrap; overflow:hidden; text-overflow:clip;display:block; border-bottom:1px dotted #e2e2e2; background:url(../images/icon7.png) no-repeat 0 50%; padding-left:5px;}
.qikan_box .qikan_wlist dl dd a:hover{background:url(../images/icon6.png) no-repeat 0 50%;}


.qikan_r{ float:left;margin-left: 100px; width:793px; border:1px solid #e2e2e2; padding:0 20px; margin-top:15px;}
.qikan_r h3 { height:40px; line-height:40px; border-bottom:2px solid #dfdfdf; width:793px;margin-bottom:10px; font-size:16px; font-weight:600; color:#333;}
.qikan_r h3 font { border-bottom:2px solid #6CBBE5; line-height:40px; display:inline-block; }
.qk_list{ float:left; width:793px; margin-top:-10px;}
.qk_box{ float:left; width:793px;padding:15px 0px; border-bottom:1px dotted #e2e2e2; position:relative;}
.qk_box .qk_book{ float:left; width:104px; margin-right:20px;}
.qk_box .qk_book img{ display:block; width:104px; height:140px;}
.qk_box .list-c{ float:left; width:663px;}
.qk_box .list-c .book_title{ float:left;width:663px; line-height:28px;}
.qk_box .list-c .book_title a{color:#cd3e44; float:left; display:block;}
.qk_box .list-c .book_title a:hover{ text-decoration:underline;}
.qk_box .list-c .list-param{ float:left; width:663px; margin-top:6px;}
.qk_box .list-c .list-param li{ width:300px; float:left; text-align:left; line-height:26px; font-size:12px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis; display:block; color:#666; }
.qk_box .list-c .list-param li span{ color:#999;}


/*分页*/
.pager { margin:0 auto; color:#666; text-align:center; font-size:12px; margin:20px 0; float:right;}
.pager a { color:#666 !important; padding:8px 12px; border:1px solid #ccc; margin-right:8px;display:inline-block }
.pager a:hover { color:#fff !important; text-decoration:none; border-color:#6CBBE5; background-color:#6CBBE5 }
.pager .page-selected { display:inline-block; background-color:#6CBBE5; color:#fff !important; padding:8px 12px; border:1px solid #ccc; margin-right:8px;color:#fff; border-color:#6CBBE5 }


/*期刊内容*/
.qk_main{ width:1018px; float:left; margin-top:15px; padding:20px; border:1px solid #e2e2e2;}
.qk_nr_img{ width:200px; padding:4px; border:1px solid #e2e2e2; float:left;}
.qk_nr_img img{ width:200px; display:block; float:left;}
.qk_nr_con{ width:530px; float:left; margin-left:20px;}
.qk_nr_con h3{ float:left; border-bottom:1px solid #e2e2e2; width:530px; padding-bottom:10px; line-height:26px; font-size:18px; padding-top:10px;}
.qk_nr_con table{ width:530px; float:left; margin-top:10px;}
.qk_nr_con table td{ line-height:28px; float:left; font-size:12px; color:#666;}
.qk_link{ float:right; width:210px; background:#f6f6f6; padding:6px 15px 15px; height:258px;}
.qk_link h3{ line-height:40px; border-bottom:1px solid #e2e2e2; float:left; width:210px; text-align:center; white-space:nowrap;overflow:hidden;text-overflow:ellipsis; display:block; color:#666;}
.qk_link p{ line-height:26px; width:210px; float:left; color:#666; font-size:12px;}


/* 投稿系统  */

.zxtg_tit{height:40px;background:url(../images/huisebj.jpg); text-align:center;line-height:40px;display: block;font-size:18px;font-weight: 600;color: #cd3e44;border-top:1px solid #e2e2e2;}

.qk_fl{ width:1060px; float:left;margin-right:15px;}
.main_qk{width:1060px; border:1px solid #e2e2e2; padding:0 20px; margin-top:15px; float:left; }
.main_qk dl{ width:1060px; float:left;margin: 15px 0;}
.main_qk dt.grbg{height: 34px;line-height: 34px;background: #f5f5f5;display: block;font-size: 15px;font-weight: 600;color: #cd3e44;padding-left:15px; border-left:3px solid #cd3e44;}
.main_qk dl dd{width:1060px; float:left; color:#666; line-height:24px; margin-top:10px; font-size:12px;}
.main_qk dl dd p{ margin:2px 0;width:1060px; float:left;}

.msg {width:793px; border:1px solid #e2e2e2; padding:20px; margin-top:15px;margin-left: 100px; float:left;}
.msg p { float:left; width:395px; color:#666; font-size:12px;}
.msg p a{ display:inline-block;}

.xgqktj { float:left; margin-top:15px;width:793px; border:1px solid #e2e2e2; padding:20px; }
.xgqktj font { height:30px; line-height:30px; border-bottom:1px solid #e2e2e2; display:block; margin-bottom:10px; font-size:15px; font-weight:600; }
.xgqktj li { float:left; width:395px; line-height:30px;}
.artdiv { width:675px; margin:0 auto; }
.dot {width: 4px;height: 4px;display: block;background: #cd3e44;float: left;margin-right: 10px;margin-top: 13px;}
.ask_qk {float:left; margin-top:15px;width:793px; border:1px solid #e2e2e2; padding:20px;}
.ask_qk font { float: left; width: 14px; background: #cd3e44; text-align: center; font-size: 14px; line-height: 20px; font-weight: bold; color: #fff; padding: 5px 8px; margin-left: 4px; margin-right: 24px; }
.ask_qk p { float:left; width:366px; height:30px; line-height:30px;}
.zxtg{float:left; margin-top:15px;width:1018px; border:1px solid #e2e2e2; padding:20px; font-size:14px;}
.zxtg font{ height:30px; line-height:30px; border-bottom:1px solid #e2e2e2; display:block; margin-bottom:10px; font-size:15px; font-weight:600; }

.zxtg table{ width:800px !important; float:left;}
.zxtg table tr{ height:40px; float:left;width:800px; padding:6px 0;}
.zxtg table tr td{ float:left; line-height:40px;}
.zxtg table tr td .need{ color:#cd3e44; width:5px !important; float:left; margin-right:5px;}
.zxtg table tr td.biaoti{ width:80px; float:left; text-align:right;}


/*论文内容*/
.qkartcont{width:793px; border:1px solid #e2e2e2; padding:20px; margin-top:15px; margin-left: 100px; float:left;}
.qkartcont h2 {height: 40px;line-height: 40px;text-align: center;font-weight: 600;font-size:20px; width:793px; float:left; }
.qkartcont .grey {color: #999;line-height: 30px;border-bottom: 1px solid #ddd;padding-bottom: 5px;margin-bottom: 15px; text-align:center; font-size:12px; width:793px;}
.qkartcont .grey span{ margin:0 10px;}
.qkartcont .artbox{border: 1px solid #e2e2e2;padding:10px;color: #666;text-indent: 2em;margin-bottom: 15px; width:773px; float:left; font-size:12px; line-height:24px;}
.qkartcont .art_nr{ float:left; width:793px; margin-top:15px; color:#444; line-height:2em; font-size:12px; height: 588px;
overflow: idden;}
.qkartcont .art_nr p{ font-size:14px; line-height:24px; margin-top:10px; width:793px;}
